/ {
    leds {
        compatible = "gpio-leds";

        red_led: led_1 {
            gpios = <&gpio0 29 GPIO_ACTIVE_LOW>;
            label = "RGB red channel";
        };

        green_led: led_2 {
            gpios = <&gpio0 30 GPIO_ACTIVE_LOW>;
            label = "RGB green channel";
        };

        blue_led: led_3 {
            gpios = <&gpio0 31 GPIO_ACTIVE_LOW>;
            label = "RGB blue channel";
        };
    };

    aliases {
        led0 = &red_led;
        led1 = &green_led;
        led2 = &blue_led;
    };
};
&i2c2 {
    status = "okay";

    bme680@76 {
        compatible = "bosch,bme680";
        reg = <0x76>;
        status = "okay";
    };
};

&gpio0 {
    status = "okay";
};
